<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="queries" name="Chronomancer Queries" schema="schema/queries.exsd"/>
   <extension-point id="typeRenderers" name="Chronomancer Type Renderers" schema="schema/typeRenderers.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Chronomancer"
            id="Chronomancer">
      </category>
      <view
            category="Chronomancer"
            class="org.ocallahan.chronomancer.views.TimelineView"
            icon="icons/sample.gif"
            id="org.ocallahan.chronomancer.views.Timeline"
            name="Timeline">
      </view>
      <view
            category="Chronomancer"
            class="org.ocallahan.chronomancer.views.StackView"
            icon="icons/sample.gif"
            id="org.ocallahan.chronomancer.views.CallStack"
            name="Call Stack"/>
      <view
            category="Chronomancer"
            class="org.ocallahan.chronomancer.views.DataView"
            icon="icons/sample.gif"
            id="org.ocallahan.chronomancer.views.DataPane"
            name="Data Pane">
      </view>
      <view
            category="Chronomancer"
            class="org.ocallahan.chronomancer.views.LocalsView"
            icon="icons/sample.gif"
            id="org.ocallahan.chronomancer.views.LocalsPane"
            name="Locals Pane">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="chronomancer.timeline.Timeline"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.ocallahan.chronomancer.sourceAnnotation"
            colorPreferenceKey="sourceAnnotation.color"
            colorPreferenceValue="230,230,230"
            highlightPreferenceKey="sourceAnnotation.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="Chronomancer Executed Line"
            overviewRulerPreferenceKey="sourceAnnotation.overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            textPreferenceKey="sourceAnnotation.text"
            textPreferenceValue="true"
            textStylePreferenceKey="sourceAnnotation.textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="sourceAnnotation.verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.ocallahan.chronomancer.sourceLoopHead"
            colorPreferenceKey="sourceLoopHead.color"
            colorPreferenceValue="255,210,210"
            highlightPreferenceKey="sourceLoopHead.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="Chronomancer Loop Head"
            overviewRulerPreferenceKey="sourceLoopHead.overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            textPreferenceKey="sourceLoopHead.text"
            textPreferenceValue="true"
            textStylePreferenceKey="sourceLoopHead.textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="sourceLoopHead.verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.ocallahan.chronomancer.sourceCurrentLine"
            colorPreferenceKey="sourceCurrentLine.color"
            colorPreferenceValue="210,255,210"
            highlightPreferenceKey="sourceCurrentLine.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTarget="false"
            label="Chronomancer Current Line"
            overviewRulerPreferenceKey="sourceCurrentLine.overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="1"
            showInNextPrevDropdownToolbarAction="false"
            textPreferenceKey="sourceCurrentLine.text"
            textPreferenceValue="true"
            textStylePreferenceKey="sourceCurrentLine.textStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="sourceCurrentLine.verticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="org.ocallahan.chronomancer.sourceAnnotation">
      </type>
      <type
            name="org.ocallahan.chronomancer.sourceCurrentLine">
      </type>
      <type
            name="org.ocallahan.chronomancer.sourceLoopHead">
      </type>
   </extension>
   <extension
         point="org.ocallahan.chronomancer.queries">
      <query
            class="org.ocallahan.chronomancer.queries.FunctionCalls"
            id="org.ocallahan.chronomancer.queries.FunctionCalls"
            name="Function Calls"/>
   </extension>
   <extension
         point="org.ocallahan.chronomancer.typeRenderers">
      <typeRenderer
            class="org.ocallahan.chronomancer.typeRenderers.IntRenderer$Factory"
            id="org.ocallahan.chronomancer.typeRenderers.IntRenderer"
            name="Int"
            typeKind="int"/>
      <typeRenderer
            class="org.ocallahan.chronomancer.typeRenderers.FloatRenderer$Factory"
            id="org.ocallahan.chronomancer.typeRenderers.FloatRenderer"
            name="Float"
            typeKind="float"/>
      <typeRenderer
            class="org.ocallahan.chronomancer.typeRenderers.EnumRenderer$Factory"
            id="org.ocallahan.chronomancer.typeRenderers.EnumRenderer"
            name="Enum"
            typeKind="enum"/>
      <typeRenderer
            class="org.ocallahan.chronomancer.typeRenderers.PointerRenderer$Factory"
            id="org.ocallahan.chronomancer.typeRenderers.PointerRenderer"
            name="Pointer"
            typeKind="pointer"/>
      <typeRenderer
            class="org.ocallahan.chronomancer.typeRenderers.StructRenderer$Factory"
            id="org.ocallahan.chronomancer.typeRenderers.StructRenderer"
            name="Struct"
            typeKind="struct"/>
      <typeRenderer
            class="org.ocallahan.chronomancer.typeRenderers.ArrayRenderer$Factory"
            id="org.ocallahan.chronomancer.typeRenderers.ArrayRenderer"
            name="Array"
            typeKind="array"/>
      <typeRenderer
            class="org.ocallahan.chronomancer.typeRenderers.CStringRenderer$Factory"
            id="org.ocallahan.chronomancer.typeRenderers.CStringRenderer"
            name="CString"
            typeKind="pointer">
      </typeRenderer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CEditorRulerContext"
            id="org.ocallahan.chronomancer.CEditorPopupActions">
         <action
               label="%SetCurrentLine.label"
               class="org.ocallahan.chronomancer.actions.SetCurrentLineAction"
               tooltip="Display the program state at this line"
               menubarPath="add"
               id="org.ocallahan.chronomancer.actions.SetCurrentLineAction">
         </action>
         <action
               label="%ShowCallees.label"
               class="org.ocallahan.chronomancer.actions.ShowCalleesAction"
               tooltip="Show the callees of this line"
               menubarPath="add"
               id="org.ocallahan.chronomancer.actions.ShowCalleesAction">
         </action>
      </viewerContribution>
   </extension>
</plugin>
